div.img1 {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.container {
    padding: 10px;
}

.icon {
    display: flex;
    padding-left: 70px;
}

.btn1 {
    width: 100%;height:10%;
    background-color:black;
    color:white;
    border: none;
    border-radius: 50px;
}
.btn2 {
    width: 100%;height:10%;
    background-color:black;
    color: white;
    border: none;
    border-radius: 50px;
}
.btn3 {
    width: 100%;height:10%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
}
.btn4 {
    width: 100%;height:10%;
    background-color:black;
    color: white;
    border: none;
    border-radius: 50px;
}

.image1{
    display:flex;
}